h1{
    text-align: center;
}

table {
    margin: 0 auto;
    border-spacing: 50px;
    border: 2px solid black;
    background-color: yellow;
}

tr {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    height: 40px;
    width: 40px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: beige;
}

td:hover {
    background-color: blue;
}